🔐
Chico Safe
Secure Password Manager
Hello {{username}},
We received a request to reset the password for your Chico Safe account. Click the button below to set a new password. This link will expire in 30 minutes.
Reset My Password
Or copy and paste this link into your browser:
{{reset_url}}
Security Notice: If you did not request a password reset, please ignore this email. Your password will remain unchanged. Do not share this link with anyone.
This email was sent by Chico Safe.
Yaqoub Hamza. All rights reserved.
